
   <!--Genera la informacion de los grupos -->
<link href="~/Content/AdminLTE.min.css" rel="stylesheet" />

<link rel="stylesheet" type="text/css" href="~/Content/Grupos.css">



<div class="modal fade" id="modal-default2" role="dialog">
    <div class="modal-dialog align-content-center align-center align-items-center">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Caminantes</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="loading">
                    <img src="~/Content/assets/images/caminantesweb.jpg" class="center" />
                </div>
                <div id="parcialCreateUpdate">
                    <p style="text-align:justify">
                        La rama del Movimiento Scout que comprende jóvenes de ambos sexos entre las edades de 15 a 18 años. Esta es una sección emocionante, retadora, la sección posterior a la unidad scout y previa al clan de rovers, aquí vivirás aventuras únicas y de todo tipo, desde travesías en los bosques, valles, playas y lagunas, hasta experiencias entrañables y valorizantes, empezaras a descubrir tu camino, no solo como Scout sino como persona. Todo esto lo aprenderás bajo una Ley y una promesa, que cada scout en el mundo, ha realizado y de la cual vive cumpliéndola cada día de su vida.

                        La Comunidad de Caminantes su subdivide en equipos de hasta 6 personas, que tiene un carácter formal e informal; sin duda esta es una rama del movimiento que explora un sin fin de intereses en los que puedas pensar. Todo esto va acompañado de un plan de progresión personal y que al igual que en las demás ramas del Movimiento Scout.</p>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info pull-right" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
</style>




    <div class="col-md-4 col-sm-6 col-xs-12 animated tada ">
        <div class="info-box">

            <span class="info-box-icon bg-aqua"><i class="fa fa-edit"></i></span>

            <div class="info-box-content" style="padding: 8px 11px;
    margin-left: 93px;">
                <span class="info-text">Caminantes </span>
                <span data-number="0" id="enproceso" class="info-box-number"><small></small></span>

                <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#modal-default2" type="button" style="margin:9px;">Información <i class="fa fa-print"></i></button>

            </div>
            <!-- /.info-box-content -->
            <!-- /.info-box -->

        </div>


    </div>






