   <!--Genera la informacion de los grupos -->
<link href="~/Content/AdminLTE.min.css" rel="stylesheet" />
<link href="~/Content/select2/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="~/Content/Grupos.css">
<link href="~/Content/Grupos.css" rel="stylesheet" />



<div class="modal fade" id="modal-default1" role="dialog">
    <div class="modal-dialog align-content-center align-center align-items-center">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Manada</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="loading">
                    <img src="~/Content/assets/images/manada.jpg" class="center" />
                </div>
                <div id="parcialCreateUpdate">
                    <p>
                        Esta rama del Movimiento alberga niños entre las edades de 7 a 11 años, la propuesta del Movimiento Scout se hace atractiva y efectiva cuando está ligada a un fondo motivador, que a su vez forma parte de un marco simbólico más amplio, integrado además por cuentos, cantos, saludos, signos y códigos de todo tipo.

                        El fondo motivador que se ofrece a los niños en esta edad está asociado a la novela de Rudyard Kipling "El Libro de las Tierras Vírgenes" o "El libro de la Selva", uno de los "best sellers" de comienzos del siglo XX, que Baden-Powell escogió y utilizó con el permiso del autor para animar la Rama Menor del Movimiento Scout y que mantiene toda su actualidad.

                        Todo esto lo aprenderás bajo una Ley y una promesa, que cada lobezno en el mundo, ha realizado y de la cual vive cumpliéndola cada día de su vida ser "Siempre Mejor".

                        No se trata de reemplazar la realidad por la ficción, sino de poner al alcance de los niños una forma de comportamiento y un modelo de sociedad a través de símbolos e imágenes, que para ellos serán más comprensibles que las ideas y los conceptos.
                    </p>
                   
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info pull-right" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    
   
</style>  
                                                
    



    
    

    <div class="col-md-4 col-sm-6 col-xs-12 animated tada ">
        <div class="info-box">

            <span class="info-box-icon bg-aqua"><i class="fa fa-edit"></i></span>

            <div class="info-box-content" style="padding: 8px 11px;
    margin-left: 93px;">
                <span class="info-text">Manada </span>
                <span data-number="0" id="enproceso" class="info-box-number"><small></small></span>

                <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#modal-default1" type="button" style="margin:9px;">Información <i class="fa fa-print"></i></button>

            </div>
            <!-- /.info-box-content -->
            <!-- /.info-box -->

        </div>


    </div>








