@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Niscout FBL</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Navegar más &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Bienvenido.</h2>
        <p>
            Ing. Francisco José Castellón Espinoza
        </p>
        <p><a class="btn btn-danger" href="http://youtube.com">Navegar más &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hola soy Brayan.</h2>
        <p>"El amor es una magia, que enciende el alma".</p>
        <p><a class="btn btn-default" href="http://facebook.com">Dar Click &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>"No me importa que tu seas mayor que yo, hoy la quiero en mi cama"</p>
        <p><a class="btn btn-primary" href="http://go.microsoft.com/fwlink/?LinkId=301867">Navegar Más &raquo;</a></p>
    </div>
</div>