@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Niscout FBL</h1>
    <p class="lead">"Lo que tu digas de los demás, lo dirán de ti algun día"</p>
    <p><a href="https://www.videosxxxputas.xxx/" class="btn btn-primary btn-lg">Navegar más &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Bienvenido.</h2>
        <p>
            Ing. Francisco José Castellón Espinoza
        </p>
        <p><a class="btn btn-danger" href="http://youtube.com">Navegar más &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hola soy Brayan.</h2>
        <p>"El amor es una magia, que enciende el alma".</p>
        <p><a class="btn btn-danger" href="http://facebook.com">Entrar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ingenieria en sistemas</h2>
        <p>"No me importa que tu seas mayor que yo, hoy la quiero en mi cama"</p>
        <p><a class="btn btn-primary" href="http://go.microsoft.com/fwlink/?LinkId=301867">Navegar Más &raquo;</a></p>
    </div>
</div>