@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Add Role";
}
<table style=" background-color:#FFFFFF; table-layout:fixed;" cellpadding="6" cellspacing="6" >
    <tr style="height: 30px; background-color:#336699 ; color:#FFFFFF ;border: solid 1px #659EC7;">
        <td align="center" colspan="2">
            <h2 style="color: white;"> Lista de Roles</h2>
        </td>

    </tr>
    <tr>
        <td>
            <table class="table vm no-th-brd no-wrap pro-of-month" style="width:100%; border:dotted 1px; background-color:gainsboro; padding-left:10px;">

                @foreach (var item in Model)
                {
                    <tr>
                        <td style="width:100%; border:dotted 1px;color:black;">
                            @item.Name
                        </td>
                    </tr>}
            </table>
        </td>
        <td align="right" style="color:#FFFFFF;padding-right:10px;">


            <a href="@Url.Action( "Create", "Roles")" class="btn waves-effect waves-purple btn btn-outline-danger hidden-md-down"  data-toggle="modal" data-target="#modal-default" title="Registrar Nuevo Rol"> Nuevo Rol </a>
        </td>
    </tr>
</table> 

<div class="modal fade" id="modal-default" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Nuevo Rol</h4>
            </div>
            <div class="modal-body" id="parcialCreateUpdate">
                @using (Html.BeginForm("Create", "Roles", FormMethod.Post))
                {
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-6"style="">
                            <input style="margin-left:130px;" name="roleDescripcion" id="roleDescripcion" type="text" class="form-control" />
                            <br />
                            <input  style="margin-left: 135px; margin-top: 18px; margin-right:-4em;" class="btn btn-info pull-right" type="submit" name="SubmitButton" value="Guardar" />
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info pull-right" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>