
@media (min-width: 320px) {
 

 }
@media (min-width: 320px) {
    .col-sm-6 {
        padding: 0px;
    }
    .col-md-4 {
        padding: 0px;
    }
    .col-xs-12 {
        padding:10px;
    }
    }






