@model List<string>
@{
    Layout = null;
}
<table id="tablaRoles" class="table">
    <thead>
        <tr>
            <th>
                Roles
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item</td>
            </tr>
        }
    </tbody>

</table>

