@model  IEnumerable<NiscoutFBL2019.Models.ApplicationUser>
@{
    ViewBag.Title = "ListUsuario";
}

<h2>Lista de Usuarios</h2>
<div class="datagrid">
    <table class="table vm no-th-brd no-wrap pro-of-month">
        <thead>
            <tr>
                <th>
                    Correo
                </th>
                <th>
                    Rol
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(Modelm => m.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(Modelm => m.Roles)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



